<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Add User</li>
    </ol>
  </nav>
  
  <div class="container">
    <div class="card">
      <div class="card-header text-black">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mt-2">Add Data Supplies</h5>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="addUser()">
          <div class="mb-3">
            <label for="namaUser" class="form-label">Nama User</label>
            <input type="text" class="form-control" id="namaUser" [(ngModel)]="nama_user" name="nama_user" required>
          </div>
          <div class="mb-3">
            <label for="nik" class="form-label">NIK</label>
            <input type="text" class="form-control" id="nik" [(ngModel)]="nik" name="nik" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" [(ngModel)]="password" name="password" required>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="role" name="role_id" [(ngModel)]="role" required>
              <option value="" disabled>Pilih Role</option>
              <option *ngFor="let role of roles" [value]="role.role_id">{{ role.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="line" class="form-label">Line</label>
            <select class="form-select" id="line" name="line_id" [(ngModel)]="line" (change)="onLineChange($event)" required>
              <option value="" disabled>Pilih Line</option>
              <option *ngFor="let line of lines" [value]="line.id_line">{{ line.line }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="selectedArea" class="form-label">Pilih Area</label>
            <select class="form-select" id="selectedArea" [(ngModel)]="area" name="id_area" required>
              <option value="" disabled>Pilih Area</option>
              <option *ngFor="let area of filteredAreas" [value]="area.id_area">{{ area.nama_area }}</option>
            </select>
          </div>
          <div *ngIf="line == 1" class="mb-3">
            <label for="group" class="form-label">Group</label>
            <select class="form-select" id="group" name="group_id" [(ngModel)]="group" required>
              <option value="" disabled>Pilih Group</option>
              <option *ngFor="let group of groups" [value]="group.id_user">{{ group.nama_user }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary me-2">Add</button>
          <button class="btn btn-secondary" routerLink="/master">Back</button>
        </form>
      </div>
    </div>
  </div>