.btn-add {
  background-color: #2a76b2;
  color: #fff;
}

.btn-edit {
  background-color: #67b173;
  border-radius: 5px;
  color: #fff;
}

.btn-remove {
  background-color: #d50f0f;
  border-radius: 5px;
  color: #fff;
}
