<!-- quiz.component.html -->
<!-- <div class="container-fluid quiz-pages">
  <h1>Quiz</h1>
  <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
    <div
      *ngFor="let question of questionsWithAnswers; let i = index"
      class="form-group"
    >
      <label [for]="'question' + i">{{ question.question_text }}</label
      ><br />
      <div *ngFor="let option of question.answers" class="form-check">
        <input
          class="form-check-input"
          type="radio"
          [id]="'question' + i + 'option' + option.answer_id"
          [formControlName]="'question' + i"
          [value]="option"
        />
        <label
          class="form-check-label"
          [for]="'question' + i + 'option' + option.answer_id"
          >{{ option.answer_text }}</label
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<div class="container-fluid quiz-pages">
  <div class="container">
    <div class="card bg-body-quiz">
      <div class="container">
        <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
          <div
            class="card question form-group"
            *ngFor="let question of questionsWithAnswers; let i = index"
          >
            <span class="h2 fw-bold">{{ question.question_text }}</span>
            <ng-container
              *ngFor="let option of question.answers"
              class="form-check"
            >
              <div class="row p-2">
                <div class="col-12">
                  <input
                    class="form-check-input"
                    type="radio"
                    [id]="'question' + i + 'option' + option.answer_id"
                    [formControlName]="'question' + i"
                    [value]="[question, option]"
                  />
                  <label
                    class="form-check-label ms-3"
                    [for]="'question' + i + 'option' + option.answer_id"
                    >{{ option.answer_text }}</label
                  >
                </div>
              </div>
            </ng-container>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
